{
    "server": "127.0.0.1",
    "password": "",
    "port": 6667,
    "secure": 0,
    "server_validate": false,
    "user": "BenBot  127.0.0.1 BenBot :BenBot",
    "nick": "BenBot",
	"name": "BenBot",
    "channels": [
            "#mychannel"
    ],
    "admins": [
        "someone",
        "someone_else",
        "another_person"
    ],
    "command_start": "~",
	"join_greeting": "Hello {0}, Welcome to this channel!  Type ~help for more information."
}
